<!DOCTYPE html>
<html>
<head>
    <title>Mehetweret Dashboard</title>
</head>
<body>
    <iframe src="https://graphs.marwnad.com/d-solo/cheesecave/cheese-cave?orgId=1&from=now-5m&to=now&refresh=30s&panelId=7" width="450" height="200" frameborder="0"></iframe>
    <iframe src="https://graphs.marwnad.com/d-solo/cheesecave/cheese-cave?orgId=1&from=now-5m&to=now&refresh=30s&panelId=8" width="450" height="200" frameborder="0"></iframe>
    <br />
    <a href="https://graphs.marwnad.com/d/cheesecave/cheese-cave">Click here for more graphs</a><br />
    <form method="post" action="/update">
	<h3>Update setpoints</h3>
        <label>Temperature:
	    <input type="number" name="temperature" min="35" max="60" step="0.5" value="{{ temperature }}"><br />
        </label>
        <label>Humidity:
            <input type="number" name="humidity" min="0" max="100" value="{{ humidity }}"><br />
        </label>
	<input type="submit" name="Submit" value="Submit Update">
    </form>
</body>
</html>
